In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("datasets/Political Dynasty v9.csv")
df

,Last Name,First Name,Middle Name,Position,Party,Year,Province,Region,Position Weight,Full Name,Community
0,ACOSTA,CHERRY PIE,BALLESTEROS,COUNCILOR,LP,2004,PALAWAN,REGION IV-B,2,CHERRY PIE BALLESTEROS ACOSTA,10
1,OLVIS,ANACLETO,HAMOY,MAYOR,PDSP,2004,ZAMBOANGA DEL NORTE,REGION IX,5,ANACLETO HAMOY OLVIS,0
2,LACAMBRA,PRIMO,PABLO,COUNCILOR,NPC,2004,PANGASINAN,REGION I,2,PRIMO PABLO LACAMBRA,63
3,HALLAZGO,EMEDIOS,MARBAN,COUNCILOR,LAKAS-CMD,2004,MISAMIS ORIENTAL,REGION X,2,EMEDIOS MARBAN HALLAZGO,15
4,LABUNI,EDGAR,TELA,COUNCILOR,NPC,2004,CAGAYAN,REGION II,2,EDGAR TELA LABUNI,213
...,...,...,...,...,...,...,...,...,...,...,...
122362,BAUTISTA,EVELYN,SOMBILLA,COUNCILOR,LAKAS,2022,SURIGAO DEL SUR,REGION XIII,2,EVELYN SOMBILLA BAUTISTA,207
122363,ESPINOZA,MARIBEL,REALISTA,COUNCILOR,IND,2022,SURIGAO DEL SUR,REGION XIII,2,MARIBEL REALISTA ESPINOZA,15
122364,CAHATIAN,JOPIE,LINGGAYA,COUNCILOR,LAKAS,2022,SURIGAO DEL SUR,REGION XIII,2,JOPIE LINGGAYA CAHATIAN,208
122365,DELOSO,MOMAR,ACDOG,COUNCILOR,HUGPNG,2022,SURIGAO DEL SUR,REGION XIII,2,MOMAR ACDOG DELOSO,26
122366,CALLUENG,CONRADO,RUMUSUD,COUNCILOR,PDPLBN,2022,CAGAYAN,REGION II,2,CONRADO RUMUSUD CALLUENG,0

In [3]:
df[df["Last Name"] == "PATAYAN"]

,Last Name,First Name,Middle Name,Position,Party,Year,Province,Region,Position Weight,Full Name,Community
9419,PATAYAN,EDANO,TUCRANG,VICE MAYOR,NPC,2004,APAYAO,CORDILLERA ADMINISTRATIVE REGION,3,EDANO TUCRANG PATAYAN,95
64953,PATAYAN,EDAÃ‘O,NaN,COUNCILOR,NP,2013,APAYAO,CORDILLERA ADMINISTRATIVE REGION,2,EDAÃ‘O PATAYAN,79
78642,PATAYAN,EDAÃ‘O,NaN,COUNCILOR,LP,2016,APAYAO,CORDILLERA ADMINISTRATIVE REGION,2,EDAÃ‘O PATAYAN,75
102199,PATAYAN,EDAÑO,TUCRANG,COUNCILOR,PDPLBN,2019,APAYAO,NaN,2,EDAÑO TUCRANG PATAYAN,71

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122367 entries, 0 to 122366
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Last Name        122367 non-null  object
 1   First Name       122367 non-null  object
 2   Middle Name      108186 non-null  object
 3   Position         122367 non-null  object
 4   Party            121237 non-null  object
 5   Year             122367 non-null  int64
 6   Province         122367 non-null  object
 7   Region           104233 non-null  object
 8   Position Weight  122367 non-null  int64
 9   Full Name        122367 non-null  object
 10  Community        122367 non-null  int64
dtypes: int64(3), object(8)
memory usage: 10.3+ MB

Check 
* Space: ``df["First Name"].str.contains("TERENCIO")``
* Hyphen: ``df["First Name"] == "KHOMEINY"``
* Period: ``df["Last Name"] == "LACUNA"``
etc.

In [5]:
df["Region"] = df["Region"].replace({"REGION IV-B" : "MIMAROPA"})
df["Province"] = df["Province"].replace({"DAVAO DE ORO" : "COMPOSTELA VALLEY"})
for col in ["First Name", "Middle Name", "Last Name"]:
    df[col] = df[col] \
        .str.strip() \
        .str.replace("-", " ") \
        .str.replace(".", "") \
        .str.replace("Ã‘", "N").str.replace("Ñ", "N") \
        .str.replace(r"[;`,]", "", regex = True)

In [6]:
df_politicians = df[["First Name", "Middle Name", "Last Name"]].copy()
df_politicians = df_politicians.drop_duplicates()

In [7]:
df_politicians.to_csv("datasets/politicians.csv", index = False)

In [8]:
df.to_csv("datasets/political_dynasty_v9.csv", index = False)

Region-Province Mapping

In [9]:
region_dict = {
    1 : "REGION I", # "ILOCOS REGION",
    2 : "REGION II", # "CAGAYAN VALLEY",
    3 : "REGION III", # "CENTRAL LUZON",
    4 : "REGION IV-A", # "CALABARZON",
    5 : "REGION V", # "BICOL REGION",
    6 : "REGION VI", # "WESTERN VISAYAS",
    7 : "REGION VII", # "CENTRAL VISAYAS",
    8 : "REGION VIII", # "EASTERN VISAYAS",
    9 : "REGION IX", # "ZAMBOANGA PENINSULA",
    10 : "REGION X", # "NORTHEN MINDANAO",
    11 : "REGION XI", # "DAVAO REGION",
    12 : "REGION XII", # "SOCCSKSARGEN",
    13 : "NATIONAL CAPITAL REGION",
    14 : "CORDILLERA ADMINISTRATIVE REGION",
    16 : "REGION XIII", # CARAGA
    17 : "MIMAROPA",
    19 : "AUTONOMOUS REGION IN MUSLIM MINDANAO"
}

df_ref = pd.read_csv("datasets/PH_Adm2_ProvDists.csv")
df_ref = df_ref[["adm1_psgc", "adm2_en"]].dropna()
df_ref.columns = ["Region", "Province"]

df_ref["Province"] = df_ref["Province"].str.upper()
df_ref["Region"] = df_ref["Region"] / 100000000
df_ref["Region"] = df_ref["Region"].astype(int)
df_ref["Region"] = df_ref["Region"].map(region_dict)
df_ref["Province"] = df_ref["Province"].str.replace(" (NOT A PROVINCE)", "")

df_ref["Province"] = df_ref["Province"].replace(
    {"DAVAO DE ORO" : "COMPOSTELA VALLEY",
     "MAGUINDANAO DEL NORTE" : "MAGUINDANAO"}
)
df_ref = df_ref[df_ref["Province"] != "MAGUINDANAO DEL SUR"]
df_ref

                                  Region       Province
0                               REGION I   ILOCOS NORTE
1                               REGION I     ILOCOS SUR
2                               REGION I       LA UNION
3                               REGION I     PANGASINAN
4                              REGION II        BATANES
..                                   ...            ...
81  AUTONOMOUS REGION IN MUSLIM MINDANAO        BASILAN
82  AUTONOMOUS REGION IN MUSLIM MINDANAO  LANAO DEL SUR
83  AUTONOMOUS REGION IN MUSLIM MINDANAO           SULU
84  AUTONOMOUS REGION IN MUSLIM MINDANAO      TAWI-TAWI
85  AUTONOMOUS REGION IN MUSLIM MINDANAO    MAGUINDANAO

[86 rows x 2 columns]

In [10]:
# df_ref.to_csv("datasets/region_province.csv", index = False)

Extras

In [11]:
region_province_pairs = set(zip(df_ref["Region"], df_ref["Province"]))
mask = df.apply(lambda row: (row["Region"], row["Province"]) in region_province_pairs, axis = 1)
df["mask"] = mask + 0
df["mask"].value_counts()

mask
1    103786
0     18581
Name: count, dtype: int64

In [12]:
# for updating (null Region)
df[(df["mask"] == 0) & (df["Region"].isna())]

,Last Name,First Name,Middle Name,Position,Party,Year,Province,Region,Position Weight,Full Name,Community,mask
86606,SINSUAT,DATU,BIMBO,"MEMBER, HOUSE OF REPRESENTATIVES",PDPLBN,2019,LANAO DEL SUR,NaN,5,DATU BIMBO SINSUAT,190,0
86607,SINSUAT,DATU,BIMBO,"MEMBER, HOUSE OF REPRESENTATIVES",PDPLBN,2019,LANAO DEL SUR,NaN,5,DATU BIMBO SINSUAT,190,0
86608,MANGUDADATU,ESMAEL,GAGUIL,"MEMBER, HOUSE OF REPRESENTATIVES",PDPLBN,2019,BASILAN,NaN,5,ESMAEL GAGUIL MANGUDADATU,86,0
86609,TAN,SAMIER,ABUBAKAR,"MEMBER, HOUSE OF REPRESENTATIVES",NPTAWI,2019,BASILAN,NaN,5,SAMIER ABUBAKAR TAN,0,0
86610,ARBISON,MUNIR,NaN,"MEMBER, HOUSE OF REPRESENTATIVES",PDPLBN,2019,LANAO DEL SUR,NaN,5,MUNIR ARBISON,191,0
...,...,...,...,...,...,...,...,...,...,...,...,...
104735,JENKINS,MARIA,NaN,PROVINCIAL BOARD MEMBER,ASENSO,2019,ABRA,NaN,2,MARIA JENKINS,383,0
104736,ALZATE,BYRONE,BELISARIO,PROVINCIAL BOARD MEMBER,ASENSO,2019,ABRA,NaN,2,BYRONE BELISARIO ALZATE,3,0
104737,ABAYA,PATROCINIO,BERSAMIN,PROVINCIAL BOARD MEMBER,ASENSO,2019,ABRA,NaN,2,PATROCINIO BERSAMIN ABAYA,4,0
104738,ANGAS,PRINCE,NaN,PROVINCIAL BOARD MEMBER,PDPLBN,2019,MAGUINDANAO,NaN,2,PRINCE ANGAS,6,0
104739,TAN,ABDUSAKUR,MAHAIL,GOVERNOR,PDPLBN,2019,SULU,NaN,5,ABDUSAKUR MAHAIL TAN,1,0

In [13]:
# for deleting
df[(df["mask"] == 0) & (df["Region"].notna())]

,Last Name,First Name,Middle Name,Position,Party,Year,Province,Region,Position Weight,Full Name,Community,mask
246,CUNANAN,CECILIA,NUNAG,COUNCILOR,NPC,2004,PALAWAN,REGION III,2,CECILIA NUNAG CUNANAN,195,0
302,CRUZ,JESUS,CRUZ,PROVINCIAL BOARD MEMBER,PMP,2004,PAMPANGA,REGION II,2,JESUS CRUZ CRUZ,2,0
396,BANTILAN,JOEL,JUBAY,COUNCILOR,LAKAS-CMD,2004,AGUSAN DEL SUR,REGION X,2,JOEL JUBAY BANTILAN,123,0
451,PANAL,CHARLOTTE,DUMANJUG,COUNCILOR,LAKAS-CMD,2004,ZAMBOANGA DEL SUR,REGION X,2,CHARLOTTE DUMANJUG PANAL,245,0
508,CRUZ,JESUS,CRUZ,VICE MAYOR,LAKAS-CMD,2004,PAMPANGA,NATIONAL CAPITAL REGION,3,JESUS CRUZ CRUZ,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...
121566,DIZON,ROMEO,CAYETANO,COUNCILOR,PDPLBN,2022,BULACAN,REGION XIII,2,ROMEO CAYETANO DIZON,172,0
121712,LIM,ALLAN,JAGMAN,PROVINCIAL BOARD MEMBER,PDPLBN,2022,LANAO DEL NORTE,REGION XIII,2,ALLAN JAGMAN LIM,1,0
121713,LIM,ALLAN,JAGMAN,PROVINCIAL BOARD MEMBER,PDPLBN,2022,LANAO DEL NORTE,REGION XIII,2,ALLAN JAGMAN LIM,1,0
121731,LIM,ALLAN,JAGMAN,PROVINCIAL BOARD MEMBER,PDPLBN,2022,LANAO DEL NORTE,REGION XIII,2,ALLAN JAGMAN LIM,1,0
121732,LIM,ALLAN,JAGMAN,PROVINCIAL BOARD MEMBER,PDPLBN,2022,LANAO DEL NORTE,REGION XIII,2,ALLAN JAGMAN LIM,1,0

In [14]:
misclassified = pd.DataFrame(df[~mask][["Region", "Province"]].value_counts().sort_index())
for region, provinces in misclassified.groupby(level = 0):
    print(region, ":", list(provinces.index.get_level_values(1)))

AUTONOMOUS REGION IN MUSLIM MINDANAO : ['PALAWAN']
CORDILLERA ADMINISTRATIVE REGION : ['CAMARINES SUR', 'COTABATO', 'ILOCOS NORTE', 'LA UNION', 'TARLAC']
MIMAROPA : ['ISABELA', 'PANGASINAN', 'SARANGANI']
NATIONAL CAPITAL REGION : ['BATAAN', 'ISABELA', 'LAGUNA', 'NUEVA ECIJA', 'PAMPANGA', 'QUEZON']
REGION I : ['ABRA', 'AGUSAN DEL SUR', 'AKLAN', 'AURORA', 'BATANGAS', 'BULACAN', 'CAGAYAN', 'GUIMARAS', 'ISABELA', 'LANAO DEL NORTE', 'PAMPANGA', 'QUIRINO', 'SOUTHERN LEYTE']
REGION II : ['ALBAY', 'BATANGAS', 'DAVAO ORIENTAL', 'IFUGAO', 'LANAO DEL NORTE', 'NEGROS OCCIDENTAL', 'PAMPANGA', 'PANGASINAN', 'QUEZON', 'RIZAL', 'ZAMBALES', 'ZAMBOANGA DEL NORTE']
REGION III : ['ABRA', 'AKLAN', 'BATANGAS', 'BOHOL', 'CAMARINES SUR', 'CAVITE', 'COTABATO', 'DINAGAT ISLANDS', 'ILOCOS SUR', 'LAGUNA', 'NCR, CITY OF MANILA, FIRST DISTRICT', 'NCR, FOURTH DISTRICT', 'NCR, SECOND DISTRICT', 'NEGROS OCCIDENTAL', 'PALAWAN', 'PANGASINAN', 'ROMBLON', 'SAMAR', 'SOUTHERN LEYTE', 'SULTAN KUDARAT', 'SURIGAO DEL SUR']
REGION IV-A : ['ABRA', 'BULACAN', 'ILOCOS NORTE', 'ISABELA', 'NCR, FOURTH DISTRICT', 'NUEVA ECIJA', 'NUEVA VIZCAYA', 'OCCIDENTAL MINDORO', 'ORIENTAL MINDORO', 'PALAWAN', 'QUIRINO', 'ROMBLON', 'ZAMBOANGA DEL SUR']
REGION IX : ['BASILAN', 'ILOCOS SUR', 'ISABELA', 'LA UNION', 'NUEVA ECIJA', 'PAMPANGA', 'SAMAR']
REGION V : ['AKLAN', 'AURORA', 'BOHOL', 'CAGAYAN', 'CEBU', 'ILOCOS SUR', 'LANAO DEL NORTE', 'NCR, FOURTH DISTRICT', 'NEGROS OCCIDENTAL', 'PANGASINAN', 'SAMAR', 'SOUTHERN LEYTE']
REGION VI : ['CAMARINES SUR', 'LANAO DEL NORTE', 'NEGROS ORIENTAL', 'PALAWAN', 'PAMPANGA', 'PANGASINAN', 'RIZAL']
REGION VII : ['BATANGAS', 'DAVAO DEL NORTE', 'ILOCOS SUR', 'NCR, FOURTH DISTRICT', 'NORTHERN SAMAR', 'SAMAR', 'SULTAN KUDARAT', 'ZAMBOANGA SIBUGAY']
REGION VIII : ['AKLAN', 'ANTIQUE', 'BATANGAS', 'BOHOL', 'CAMARINES NORTE', 'CAVITE', 'DAVAO ORIENTAL', 'ILOCOS SUR', 'MISAMIS ORIENTAL', 'NCR, FOURTH DISTRICT', 'ZAMBOANGA DEL NORTE']
REGION X : ['ABRA', 'AGUSAN DEL SUR', 'CAGAYAN', 'DAVAO DEL NORTE', 'ILOCOS SUR', 'LA UNION', 'QUEZON', 'ZAMBOANGA DEL SUR']
REGION XI : ['NEGROS OCCIDENTAL', 'PALAWAN', 'QUEZON']
REGION XII : ['DAVAO DEL SUR', 'NCR, FOURTH DISTRICT', 'NUEVA ECIJA', 'SURIGAO DEL SUR', 'TARLAC', 'ZAMBOANGA DEL NORTE', 'ZAMBOANGA DEL SUR']
REGION XIII : ['BOHOL', 'BULACAN', 'ILOCOS NORTE', 'LANAO DEL NORTE', 'NORTHERN SAMAR', 'PAMPANGA', 'PANGASINAN', 'ZAMBOANGA DEL SUR']